<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="RestfulBooker Suite" parallel="false">
  <test name="API">
    <classes>
      <class name="com.example.restbooker.tests.HealthCheckTest"/>
      <class name="com.example.restbooker.tests.BookingCrudTest"/>
      <class name="com.example.restbooker.tests.AuthNegativeTest"/>
    </classes>
  </test>
</suite>
